body {
    background: rgba(247, 241, 241, 0.849);

    
        font-family: "Poppins", sans-serif;
       
}

.navbar-ul {
    margin-left: 45%;
}

.nav-container {
    padding-left: 15%;
    padding-right: 15%;
    background: #1E40AF;
}

.hero-section{
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-top: 120px 0; */
    position: relative;
    background: linear-gradient(135deg, #1E40AF,#60a5fa);
    overflow: hidden; 
}

.hero-section::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c")
 no-repeat center/cover;
opacity: 0.2;
z-index: 0;
}

.hero-section h1{
    font-size: 3.2rem;
    font-weight: 600;
    z-index: 1;
    position: relative;
}

.section-title{
    font-size: 2.3rem;
    font-weight: 600;
    color: #1E40AF;
    margin: 20px;

}
.skill-card img{
    width: 50px;
    height: 50px;
}

.skill-card{
    align-items: center;
    padding: 15px;
}

.row-form{
   
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}
 ::after, ::before {
    box-sizing: border-box;
 }

 .contact-form{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
 }
 .map-container{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
 }

 .footer-a {
    color: white;
    padding-top: 40px;
     padding-bottom: 40px;
    margin: 40px;
    font-size: 1rem;
    text-align: center;
    background: #1E40AF;
}
