@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Universal Style */

/* Universal Selctor * Applies to all HTML Elements and Tags */
* {
    margin: 0;
    /*Remove default margin from all element */
    padding: 0;
    /*Remove default padding from all element */
    box-sizing: border-box;
    /* Include padding and border in element's total width/height*/
     font-family:"Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
    font-size: .975rem;
}

/* Body - Main page container */
body {
    background: white;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}


/* Gmail Container - Main wrapper for entire app */
.gmail-container {
    height: 100vh;
    /*full viewport height (100% of screen)*/
    display: flex;
    /*flexbox layout*/
    flex-direction: column;
    /*Stack children vertically*/
}


/* Header section CSS */
.gmail-header {
    display: flex;
    text-align: center;
    /*Vertically center all Items*/
    padding: 8px 12px;
    /*8px top-bottom and 12px left-right padding*/
    height: 61px;
    /*fix header height*/
    background: #F8FAFD;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header-search {
    max-width: 500px;
    background: #E9EEF6;
    border: 0px solid black;
    border-radius: 50px;
}


/*************** Side bar ********/

.compose-btn {
    background: #C2E7FF;
    border: none !important;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: ba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    color: black !important;
    text-align: center;
}

.sidebar {
    padding: 9px;
    background: #F8FAFD;
    position: fixed;
    top: 8%;
    bottom: 0;
}

.compose-btn:hover {
    background: #C2E7FF;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .15) !important;
    /*large-shadow*/
}

ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav {
    padding: 10px;
}

.nav-item {
    padding: 10px 24px 0 20px;
    height: 32px;
    border-radius: 0 16 16 0 !important;
    font-size: 13px;
    color: #282124 !important;
    margin: 2px 0;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* *****************main containt********** */
.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    margin-top: 5%;
    padding-left: 0;
}

.email-list {
    background: #fff;
    padding-left: 7px;
}

.email-row {
    height: 45px;
    cursor: pointer;
}

.star-btn {
    font-size: 25px;
}

.read {
    background: #F2F6FC;
}

.unread {
    background: #FFFFFF;
}

.read .form-check-input {
    background: #F2F6FC;
    border: 1px solid#BEC1C5;
}

.unread .form-check-input {
    background: #FFFFFF;
}

.unread {
    font-weight: bold;
}

